.wrapper{
    width: 100%;
    background-color: #000e;
    height: 400dvh;
    position: absolute;
}

.video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.section-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-content h2, .section-content p{
    color: #fff;
}

.contact{
    color: #fff;
    font-size: 30px;
}